.navbar {
    background-color: #333544;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    
}

.navbar li {
    font-size: 17px;
    opacity: .7;
    transition: .2s;
}

.navbar li:hover {
    opacity: 1;
}

.btn-add {
    font-weight: bold;
    border: 1px solid;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: #333544;
    color: #fff;
    transition: .3s;
    opacity: 1;
}

.btn-add:hover {
    background-color: #fff;
    color: #333544;
}