.liComment {
    border-bottom: 1px solid;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.liComment h1::first-letter {
    text-transform: uppercase;
}

p {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}